.bio {
    background-color: var(--regular-white);
    padding: 0;
}

.bio-header {
    padding: 20px 0;
    font-weight: 500;
    font-size: 42px;
    color: var(--dark-teal);
    background-color: rgb(var(--emerald-rgb) / 0.2);
}

.bio-image {
    background-image: url("../images/desktop.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
}