.featured-projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 2rem 0;
}

.project-header {
  margin-bottom: 20px;
}

.github-projects .project-card {
  margin-bottom: 20px;
}

.project-card {
  border: 1px solid var(--regular-black);
  border-radius: 15px;
  padding: 30px;
  background-color: var(--golden-pollen);
}

.project-card iframe {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
}

.project-card-header {
  margin: 10px 0;
  padding-right: 20px;
}

iframe {
  min-width: 0;
}

.website-link {
  background-color: var(--dark-teal);
  font-weight: 500;
  color: var(--regular-white);
  border-radius: 10px;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.description {
  width: 90%;
}

.text-div {
  text-align: start;
  margin-top: 30px;
}

@media (min-width: 768px) {

  .featured-projects {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  .github-projects {
    display: grid;
    gap: 2rem;
    margin: 2rem 0;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

@media (min-width: 1200px) {}