.project-header {
    color: var(--dark-teal);
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.project-card {
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.project-card:hover {
    transform: translateY(-4px);
}