:root {
  --font-size: 16px;

  /* Custom Portfolio Colors */
  --bubblegum-pink: #ef476f;
  --golden-pollen: #ffd166;
  --emerald: #06d6a0;
  --ocean-blue: #118ab2;
  --dark-teal: #073b4c;
  --regular-white: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  background-color: var(--dark-teal);
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: var(--regular-white);
  margin-left: 10px;
  font-weight: 300;
}

.div-logo {
  margin: 10px;
}

.nav-logo {
  border: var(--dark-teal) solid 1px;
}

.nav-logo:hover {
  border-radius: 50%;
  border: var(--golden-pollen) solid 1px;
  background-color: #ffdc8a;
}

.nav-logo-img {
  width: 60%;
}

.main-logo-name {
  max-width: 80%;
  height: 40%;
}

.main {
  height: 100%;
  text-align: center;
  padding-top: 30px;
}

.main-content {
  width: 75%;
  margin: auto;
}

.main-header {
  color: var(--emerald);
  font-weight: 400;
}

.main-paragraph-description {
  color: var(--regular-white);
  font-size: 18px;
}

.button {
  padding: 10px;
  width: 50%;
  margin: auto;
  border-radius: 5px;
  font-weight: 300;
}

.pink {
  background-color: var(--bubblegum-pink);
  color: var(--regular-white);
}

.emerald {
  border: 1px var(--emerald) solid;
  color: var(--emerald);
}

@media screen and (min-width: 768px) {}