:root {
  --font-size: 16px;

  /* Custom Portfolio Colors */
  --bubblegum-pink: #ef476f;
  --golden-pollen: #ffd166;
  --emerald: #06d6a0;
  --ocean-blue: #118ab2;
  --dark-teal: #073b4c;
  --regular-white: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  background-color: var(--dark-teal);
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: var(--regular-white);
  padding: 20px;
  width: 200px;
  aspect-ratio: 1;
  --o: calc(50%*tan(-22.5deg));
  clip-path: polygon(var(--o) 50%, 50% var(--o),
      calc(100% - var(--o)) 50%,
      50% calc(100% - var(--o)));
  background: var(--golden-pollen);
  color: var(--dark-teal);
}

.div-logo {
  margin: 10px;
}

.nav-logo {
  border: var(--dark-teal) solid 1px;
}

.nav-logo:hover {
  border-radius: 50%;
  border: var(--golden-pollen) solid 1px;
  background-color: #ffdc8a;
}

.nav-logo-img {
  width: 50%;
}

.main-logo-name {
  max-width: 50%;
}

.main {
  height: 100%;
  text-align: center;
}